{% load staticfiles %}
{% load friendshiptags %}
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static "user_groups/css/style_friends.css" %}" type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" style="opacity:0.6;color:rgb(10,10,10);">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand expand" href="{% url 'logout' %}"><img width=35x height=35px src="{% static "homepage/images/logout.png" %}"></a>
				</div>
				<ul class="nav navbar-nav" style="float:right;">
				<!--	<li> <a class="expand" href="{% url 'userfriends' user %}">Friends</a></li>
					<li class="dropdown"><a class="dropdown-toggle expand" data-toggle="dropdown" href="academics.html">Academics<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="academics.html#CU">Courses Undertaken</a></li>
							<li><a href="academics.html#Pro">Projects</a></li>
							<li><a href="academics.html#Acheivements">Achievements</a></li>
						</ul>
					</li>-->
					<li><a class="expand" href="{% url 'userrating' user %}" style="margin-top:5px">Rating</a></li>
					<li><a class="expand" href="{% url 'userdetail' user %}"><img width=35x height=35px src="{% static "homepage/images/home.png" %}"> Home</a></li>
				</ul>
			</div>
		</nav>
	<div class="w3-container">
		<div class="w3-row w3-border" style="background-color: rgba(10,10,10,0.4);padding: 10px;margin: 75px;border-radius: 15px">
		<div class="w3-third w3-container">
		  <h2 align="middle" style="color: white"> Friend List </h2>
			<ol class="rectangle-list">
			 {% for friend in friends %}
			   <li><a class="fed" href="/chat/dialogs/{{friend.username}}">{{friend.username}}</a></li>
			 {% endfor %}
		    </ol>
		</div>
		<div class="w3-third w3-container">
			<h2 align="middle"style="color: white"> Unread requests </h2>
			<ol class="rectangl-list">
				{% for friend in unread %}
				  <li><a class="suc" style="padding: .2em .2em .2em .2em;" href="{% url 'viewprofile' username friend.from_user %}">{{friend.from_user}}</a><!--addviewprofile link to href-->
					<ol class="rectangl-list" style="padding: 0.2em 0.2em 0.2em 0.2em;">
						<li><a style="padding: .2em .2em .2em .2em;" class="success" href="{% url 'acceptfriend' friend.to_user friend.from_user %}">Accept</a></li>
						<li><a style="padding: .2em .2em .2em .2em;" class="success" href="{% url 'declinefriend' friend.to_user friend.from_user %}">Decline</a></li>
					</ol>
				</li>
				{% endfor %}
		   </ol>
		</div>
		<div class="w3-third w3-container">
		  <h2 align="middle"style="color: white"> Sent requests </h2>
			<ol class="rectangle-list">
			 {% for friend in sent %}
			   <li><a class="fed" href="">{{friend.username}}</a></li>
			 {% endfor %}
		    </ol>
		</div>
	</div>
	<div style="background-color: rgba(10,10,10,0.4);padding: 10px;margin: 75px;border-radius: 15px;">
	 <h2 align="middle"style="color: white"> Users List </h2>
    <ol class="rectangl-list" style="padding: 0.7em 0.7em 0.7em 0.7em;">
      {% for user in users %}
		{% if user.username != username%}
		{% if user in friends %}
		<li><a class="suc" href="{% url 'viewprofile' username user.username %}"> {{ user.username}} - Friends</a></li><!--addviewprofile link to href-->
		{% elif user in sent %}
		<li><a class="suc" href="{% url 'viewprofile' username user.username %}"> {{ user.username}} - Request sent</a></li><!--addviewprofile link to href-->
		{% else %}
		<li><a class="suc" href="{% url 'addfriend' username user.username %}"> {{ user.username}} - Add friend</a>
				<ol class="rectangl-list" style="padding: 0.2em 0.2em 0.2em 0.2em;">
					<li><a class="success" href="{% url 'viewprofile' username user.username %}">View profile</a></li>
				</ol>
		<!--<span><a class="normal" href="{% url 'addfriend' username user.username %}">Send request</a></span>-->
		{% endif %}
		{% endif %}
      {% endfor %}
    </ol>
	</div>
		<!--<h1 align="middle" style="color: white">File List of {{user}} in {{pro}} </h1>
		<ul class="min">
			{% for file in files %}
				{% if file != "No files uploaded yet" %}
				<li style="font-size: 130%">{{file}}<a href="{% url 'openfile' user pro file %}" class="mine" style="padding: .2em .2em .2em .2em;margin-left: 2em;font-size: 90%">Open</a>
				<a href="#" class="mine" onclick='confirmUser("{{file}}")' style="padding: .2em .2em .2em .2em;margin-left: 2em;font-size: 90%">DeleteFile</a></li>
				{% block javascript%}
				<script>
					 function confirmUser(f){
							var ask=confirm("Are you sure");
							var u="{{user}}";
							var p="{{pro}}"
							if(ask){
							  window.location="/groups/"+u+"/"+p+"/"+f+"/delete/";
							 }
					}
				</script>
				{% endblock javascript%}
				{% else %}
				<li><a href="{% url 'uploadfile' user pro %}" class="mine">{{file}} (click here to upload a new file)</a></li>
				{% endif %}
		    {% endfor %}
		</ul>-->
	</body>
</html>
