{% load staticfiles %}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static "user_groups/css/style_projectCreate.css" %}" type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
      <br>
      <br>
      <br>
      <h2 align="middle">Sign up</h2>
      <div class="main" style="margin: auto;margin-top: 25px;margin-bottom: 25px;max-width:550px;text-align:center" align="middle">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Signup" />
      </form>
      </div>
      <p align="middle" style="color: black">Already have an account? Want to <a href="{% url 'login' %}" class="link" style="color: blue">Login?</a></p>
  </body>
</html>
